<br>
<br>

<table>
    <tr>
      <th>Favorite</th>
      <th>Deck Name</th>
      <th>Created By</th>
    </tr>
    <form action='/users/<%=current_user.id%>' method='post'>
<% @decks.each do |deck| %>
    <tr>
      <td><input type="checkbox" name="decks[<%=deck.name%>]" value="<%=deck.id%>"></td>
      <td><a href="/decks/<%=deck.id%>"><%= deck.name %></a></td>
      <% if !deck.created_by.nil? %>
        <% user = User.find(deck.created_by) %>
      <td><a href="/users/<%=user.id%>"><%=user.name%></a></td>
      <% else %>
      <td>Admin</td>
      <% end %>
<% end %>
</table>

  <input type='submit' value='Add to Decks'>

</form>

