<div id="content_container">

  <div id="user_info">
    <h1><%= @name %></h1>
  </div>


  <div id="user_stats">
    <h2> Your performance: </h2>
    <% if @games.empty? %>
    <p>You haven't done any flashcards yet. Look at the decks below and test your smarts!</p>
    <% end %>
    <% @games.each do |game| %>
      <div class="game">
        <div class="game_column"><%= game.deck.name %></div>
        <div class="game_column"><%= game.deck.cards.length %> flashcards</div>
        <% if game.completed_at.nil? %>
          <div class="game_column">Unfinished: <a href="/games/<%= game.id %>"> Finish now?</a></div> 
        <% else %>
          <div class="game_column"><%= calculate_time(game.completed_at - game.created_at) %></div> 
        <% end %>
        <% correct_count = game.guesses.where("correct = ?", true).length %>
        <div class="game_column">Answers correct: <%= correct_count %></div>
        <div class="game_column">Percentage correct: <%= correct_count.to_f/game.deck.cards.length.to_f * 100 %>% </div>
      </div>
    <% end %>
  </div>

  <% unless @decks.empty? %>
    <div id="decks">
      <h2> Favorite flash card decks </h2>
      <% @decks.each do |deck| %>
        <div class="deck">
          <h2><%= deck.name %></h2>
          <form action='/games/new' method="post" >
            <input type="submit" value="Start" class="submit">
            <input type="hidden" name="user_id" value="<%=@user.id%>">
            <input type="hidden" name="deck_id" value="<%=deck.id%>">
          </form>
          <form action='/decks/<%=deck.id%>' method='post'>
            <input type='submit' value='Remove from favorites' class='submit'>
            <input type="hidden" name="_method" value="delete"/> 
          </form>
        </div>
      <% end %>
    </div>
  <% end %>

  <div id="decks">
    <h2> All flash card decks </h2>
    <% @decks_all.each do |deck| %>
      <div class="deck">
        <h2><%= deck.name %></h2>
        <form action='/games/new' method="post" >
          <input type="submit" value="Start" class="submit">
          <input type="hidden" name="user_id" value="<%=@user.id%>">
          <input type="hidden" name="deck_id" value="<%=deck.id%>">
        </form>
      </div>
    <% end %>
  </div>
</div>


